/* FOOTER */
    
    .footer {
        background-color: rgba(161, 161, 161, 0.199);
        height: 80px;
        position: inherit;
        width: 100%;
        bottom: 0;
        left: 0;
    }

    .foot {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }

    .fb_icon, .ins_icon, .wap_icon {
        width: 80px;
        height: 80px;
    }

    .foot-link {
        color: rgb(5, 5, 5);
        text-decoration: none;
    }

    .copyright {
        margin: 25px;
        font-size: 25px;
        font-weight: 60px;
    }

    .foot-menu {
        display: flex;
        margin-right: 20px;
        list-style: none;
        font-weight: bold;
    }

    .foot-menu-item {
        font-size: 22px;
        margin: 0 10px;
        line-height: 80px;
        text-transform: uppercase;
        width: max-content;
    }

    .foot-menu-link {
        padding: 8px;
        border-radius: 3px;

        &:hover {
        background-color: rgb(255, 255, 255);
        transition: 0.5s;
        }
    }

    .foot-menu-link_active {
        background-color: rgb(255, 255, 255);
        transition: 0.5s;
    }

/* MEDIA QUERIE MOBILE */

    @media screen and (max-width: 768px) {

        /* FOOTER */

            .fb_icon, .ins_icon, .wap_icon {
                width: 50px;
                height: 50px;
                margin: 15px 5px;
            }

            .copyright {
                font-size: large;
                margin: 20px;
            }

            .foot-menu {
                display: none;
            }
    }

/* MEDIA QUERIE TABLET */

    @media (min-width: 768px) and (max-width: 1200px) {
            
        /* FOOTER */

            .copyright {
                font-size: large;
                margin: 20px;
            }

            .foot-menu {
                display: none;
            }
    }

/* MEDIA QUERIE SMALL DESKTOP */

    @media (min-width: 1200px) and (max-width: 1400px) {

        /* FOOTER */

            .copyright {
                font-size: large;
                margin: 20px;
            }

            .foot-menu {
                display: none;
            }
    }

/* MEDIA QUERIE BIG DESKTOP */

    @media (min-width: 1400px) {
        /* MISMO QUE DESCKTOP NORMAL */
    }